@charset "UTF-8";
form{
    align-items: center;
    margin: 30px;
    padding:30px;
    background-color: rgb(241,241,241);
    font-size:16px;
}
tr{
    height: 28px;
}
th{
    font-size: 20px;
}
input#projectName{
    text-align: left;
}
button.count{
    width: 30px;
    height: 30px;
    font-size: 18px;
}
#summernoteWidth{
    width: 950px;
}