/* 공통 */
hr {
  width: 1200px;
}
.bold {
  font-weight: 700;
}
.gathering {
  width: 1200px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
/* 모임 페이지 */
/* 모임 구분바 */
.gathering-bar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.gathering-bar p {
  margin: 0 50px;
}
.gathering-bar p a {
  font-family: var(--elice-font);
  color: #777;
  font-size: 20px;
}
.gathering-bar p a:hover {
  color: var(--text-color);
}
/* 프로젝트,스터디 슬라이드영역 */
.ps__header__text {
  font-size: 24px;
  font-family: var(--elice-font);
  font-weight: 700;
  display: flex;
  align-items: center;
  margin: 0 0 20px 20px;
}
.ps__header__text p {
  padding-right: 10px;
}
.ps__header__content {
  width: 100%;
  height: 350px;
  box-sizing: border-box;
  padding: 25px 60px;
  background-color: #FFE69A;
}
.swiper-wrapper {
  display: flex;
}
.ps__header__content .swiper-slide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}
.ps__header__content__img {
  height: 300px;
}
.ps__header__content-info {
  width: 450px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  box-sizing: border-box;
}
.ps__header__content-info li {
  margin: 12px 0 7px 0;
  height: 20px;
  border-bottom: 1px solid #333;
}
.ps__header__content-info .ps__header__content-content {
  height: 120px;
}
.ps__header__content-info li:last-of-type {
  border: none;
  position: relative;
}
.ps__header__content-info li:last-of-type span {
  position: absolute;
}
.ps__header__content-info li:last-of-type span:nth-child(1) {
  left: 0;
}
.ps__header__content-info li:last-of-type span:nth-child(2) {
  left: 100px;
}
.ps__header__content-info li:last-of-type span:nth-child(3) {
  right: 0;
}
.swiper-button-next,
.swiper-button-prev {
	position: absolute;
	top: 50%
}
.swiper-button-next {
	left: 30px;
}
.swiper-button-prev {
	right: 30px;
}


/* list부분 */
/* 필터부분 */
.ps-filter-container {
	position: relative;
	display: flex;
	align-items: center;
	text-align: left;
	margin: 30px;
}
.ps-filter-container select {
	height: 30px;
}
.ps-filter-container .ps-filter {
	margin-right: 15px;
}



.ps__enroll {
	position: absolute;
	right: 10px;
	background-color: var(--btn-color);
	color: var(--background-color);
}


/* 미리보기 부분 */
.ps-lists {
	display: flex;
	flex-wrap: wrap;
	margin: 30px;
}

.ps-pre {
	position: relative;
	width: 250px;
	margin: 10px 0;
}
.ps-pre__img {
	width: 250px;
	border-radius: 10%;
	margin-bottom: 10px;
}
.ps-pre > p {
	text-align: left;
}
.ps-pre:nth-child(4n+1) {
	margin-left: 10px;
}
.ps-pre:nth-child(4n) {
	margin-right: 10px;
}
.ps-pre:not(:nth-child(4n)) {
	margin-right: 40px;
}
.ps-pre__etc {
	height: 45px;
	float: left;
}
.ps-pre__etc li {
	float: left;
	margin-right: 20px;
}
.ps-pre__etc li:last-child {
	clear: both;
}
.heart-emoji {
	color: var(--accent-color);
}
.ps-pre .ps__bookmark {
	width: 50px;
	height: 50px;
	float: right;
	text-align: center;
	position: relative;
}
.bookmark-front,
.bookmark-back {
	font-size: 40px;
	color: var(--accent-color);
	background: none;
	border: none;
}
.bookmark-back {
	display: none;
}

#pagebar {
	margin-top: 50px;
}
