@charset "UTF-8";
.pjname{
    text-align: center;
}
.pjwriter{
    text-align: center;
    align-items: center;
}
img{
    width: 30px;
}
#listBm{
    white-space: nowrap;
}
#list{
    width: 200px;
    overflow: auto;
}
input#bookmark, input#bookmarkCancel{
    width: 200px;
    height: 40px;
}
button#pjdetail,button#pjstatue{
    border: 0px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    width: 150px;
    height: 30px;
}
button#pjdetail{
    background: gold;
    font-weight: bold;
}
button#pjstatue{
    background-color: lightgoldenrodyellow;
}