/* 회원가입 입력 항목 */
#enroll-container{
  width: fit-content;
  margin: 60px auto 90px auto;
}

.enroll-title{
  font-family: var(--elice-font);
  font-weight: bold;
}

.enroll-input-container{
  height:90px;
  
  font-family: var(--elice-font);
}

.enroll-input-container:first-child{
  margin-top: 60px;
}

.enroll-label{
  width: 130px;
  display: inline-flex;
  font-weight: bold;
  font-family: var(--elice-font);
}

.enroll-label span{
  color: red;
}

.enroll-input{
  display: inline-flex;
  flex-direction: column;
  width: 360px;
  margin-right: 7px;
}

.enroll-input input{
  border-radius: 3px;
  border: 1px solid black;
  padding: 7px;
  transition: all 0.3s ease-in-out;
  
}

.enroll-input input:focus, .select-options:focus{
  box-shadow: 2px 2px 5px 0px grey;
  outline: none;
}

.pwd-show-hide:hover{
  cursor: pointer;
}

.select-options {
  border-radius: 3px;
  border: 1px solid black;
  padding: 7px;
}

.select-options:hover{
  cursor: pointer;
}

/* 약관 동의 */
.enroll-agreement-container{
  margin: 20px 0;
  font-family: auto;
}

.enroll-agreement-content{
  resize: none;
  outline: none;
  font-size: 14px;
}

.agree-sentence{
  font-size: 14px;
  text-align: end;
}

.agree-sentence .agree-check-box{
  position: relative;
  top: 3px;
}

.agree-sentence label{
  font-weight: initial;
  margin-right: 25px;
}



/* 가입 버튼 */
.enrollBtn {
  margin: 70px 0;
  text-align: center;
}

.enrollBtn .enrollBtnClick {
  font-family: var(--elice-font);
  background-color: #92B4EC;
  border-color: #92B4EC;
  border-style: none;
  border-radius: 3px;
  font-size: 20px;
  width: 400px;
  height: 50px;
  color: white;
  transition: all 0.3s ease-in-out;
  margin-right: 30px;
}

.enrollBtn .enrollBtnClick:hover {
  cursor: pointer;
  background-color: #77a0e2;
  color: black;
}


/* 유효성검사 결과 */
.fail {
  display: block;
  color: red;
  margin-top: 2px;
}

.success {
  display: block;
  color: green;
  margin-top: 2px;
}

.hide {
  display: none;
}

.duplicate-check-loading{
	font-size: 13px;
	margin: 2px 0 0 2px;
}