/* 로그인 */
.login-title{	
    padding-left: 20px;
}
.login-table{
	margin:40px auto 20px auto;
}

#loginBtn{
	width: 330px;
	cursor: pointer;
	background-color: var(--btn-color);
	color: white;
}

#loginBtn:hover {
	cursor: pointer;
	background-color: #77a0e2;
	color: black;
}

.login-sub:nth-of-type(1){
	margin-top: 20px;
}

.login-sub:nth-of-type(2){
	margin-top: 10px;
}

.login-sub-btn{
	border: none;
	background-color: #fff;
}

.login-sub-btn:hover{
	color: var(--btn-color);
}

/* 로그인, 아이디/비밀번호 찾기 - 본인확인 */
#login-container, #find-container{
	width: 550px;
	text-align: center;
	margin: 130px auto 180px auto;
	border: 3px solid var(--btn-color);
	padding: 50px 0 70px 0;
	font-family: var(--elice-font);
}

#find-container .find-content{
	margin: 20px 0 40px 0;
}

.find-table{
	margin:30px auto;
}

.login-label, .find-label{
	margin: 10px 20px 10px 0;
}

.login-input, .find-input{
	padding: 5px;
	margin: 5px 8px 0 5px;
	width: 220px;
	font-family: auto;
}

.login-btn, .find-btn{
  background-color: var(--btn-color);
  border-color: var(--btn-color);
  border-style: none;
  border-radius: 3px;
  font-size: 20px;
  width: 325px;
  height: 40px;
  color: white;
}

.find-btn:hover{
  cursor: pointer;
  background-color: #77a0e2;
  color: black;
}


/* 비밀번호 재설정 */
.reset-password-input-container{
  height:90px;
}

.reset-password-label{
  width: 100px;
  display: inline-flex;
  font-weight: bold;
}

.reset-password-input{
  display: inline-flex;
  flex-direction: column;
  width: 310px;
  padding: 10px; 
  font-family: auto;
}

.reset-password-input input{
  padding: 5px;
}

.pwd-show-hide:hover{
  cursor: pointer;
}

#pwd1GuideLine1, #pwd1GuideLine2, #pwd2GuideLine{
	text-align: initial;
}

#resetPasswordBtn{
	width:320px;
}

.fail {
  display: block;
  color: red;
  margin-top: 2px;
}

.success {
  display: block;
  color: green;
  margin-top: 2px;
}

.hide {
  display: none;
}