/* ------------------------- 회원관리 ----------------------------- */
#memberList-container { 
	width: 1200px;
	left: 0;
	right: 0;
	margin: auto;
	text-align:center;
}
	
#tbl-member {
	width:100%; 
	border:1px solid gray; 
	border-collapse:collapse;
	margin-bottom: 40px;
}
#tbl-member th {
	border:1px solid gray; 
	padding:10px; 
	text-align:center;
	background-color: #F1F1F1;
	font-weight: bold;
}

#tbl-member td {
	border:1px solid gray; 
	padding:10px; 
	text-align:center;
}

#search-container {
	width: 100%; 
	margin:0 0 30px 0; 
	padding:15px; 
	background-color: var(--yellow-color);
}

.search-option{
    padding: 7px;
    margin: 2px;
}

.search-input{
    padding: 5px;
    margin: 2px;
}

#memberFinderBtn{
	background-color: var(--btn-color);
    border-color: var(--btn-color);
    border-style: none;
    border-radius: 3px;
    width: fit-content;
    padding: 7px;
    margin-left: 10px;
    color: white;
}

#memberFinderBtn:hover{
  cursor: pointer;
  background-color: #77a0e2;
  color: black;
}

.member-role{
	padding: 5px;
}

#quitMember{
	background-color: var(--accent-color);
	border: none;
	border-radius: 30px;
	padding: 3px 12px;
	color: #ffffff;
}

/*페이징 : 페이지당회원수*/
#numPerPage-container{
	float:right; 
	margin-top: 10px;
}

#numPerPageFrm{
	display:inline;
}

/*페이징 : 페이지바 */
#pagebar{
	margin-top:10px; 
	text-align:center; 
}

#pagebar span.cPage{
	color: #0066ff; 
	margin-right: 5px;
}

#pagebar a{
	margin-right: 5px; 
	text-decoration: none;
}

#pagebar a:hover {
	text-decoration: underline;
}


/* ------------------------- 통계관리 ----------------------------- */
.statistics{
	width: 1200px;
	left: 0;
	right: 0;
	margin: 50px auto;
	text-align:center;
	font-family: var(--elice-font);
}

.statistics-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}

.member-enroll-statistics{
	width: 300px;
	height: 200px;
	border: 1px solid var(--yellow-color);
	text-align: center; 
	margin: 0 50px 70px 50px;
}

.preiod-statistics-container .member-enroll-statistics{
	margin: 20px auto;	
}
.statistics-title{
	display: block;
	height: fit-content;
	background-color: var(--yellow-color);
	padding: 15px;
	font-size: 20px;
}

.statistics-num{
	display: block;
	padding: 30px;
	font-size: 28px;
}

.statistics-date{
	display: block;
	padding: 10px;
	font-size: 14px;
}

.preiod-statistics-container{
	margin-top: 30px;
	text-align: center;
}

.date-input{
    padding: 5px;
    margin: 0 10px 20px 0;
}

#statisticsViewBtn{
	background-color: var(--btn-color);
    border-color: var(--btn-color);
    border-style: none;
    border-radius: 3px;
    width: fit-content;
    padding: 7px;
    margin-left: 10px;
    color: white;
}

#statisticsViewBtn:hover{
  cursor: pointer;
  background-color: #77a0e2;
  color: black;
}