/* ----------멤버스 메인페이지---------- */
h2{
	margin-left: 10vw;
}

/* 필터링 폼 양옆 띄우기 */
#search-container{
	margin:0 5vw;
}

#membusProfile-container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 0 auto;
	max-width: 1200px;
	font-family: var(--elice-font);
	color: var(--text-color);
}

.profile-box{
	width: 230px;
	height: 230px;
	background-color: var(--yellow-color);
	border-radius: 30px;
	margin: 30px;
	padding: 25px;
	display: inline-block;
}

.profile-badge{
	display: inline-block;
	width: 70px;
	height: 70px;
	line-height: 70px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid black;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 15px;
}

/* 직무표기 위아래 간격주기 */
.profile-jobName{
	margin:15 0px;
}

.gatheringYN{
	height: 50px;
}

.btn-showProfile{
	width: 100px;
	background-color: var(--btn-color);
	position: relative;
	left: 23%;
	bottom: 5px;/*버튼 위치 고정시키는 법 찾기*/
	border: none;
	border-radius: 3px;
	color: #fff;
}

/* ----------멤버스 프로필 상세,마이페이지공통---------- */
section#membus-profile{
	width: 1000px;
	background-color:  rgb(241,241,241);
	padding: 30px 100px;
	margin: 0 auto;
}
.profile-row{
	padding: 10px;
}
.nickname-badge{
	background-color: #fff;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	text-align: center;
	line-height: 100px;
	font-size: 30px;
	font-weight: bold;
	margin-right: 15px;
}
.subtitle{
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}
.gathering-align{
	display: flex;
	align-items: top;
	overflow-x: scroll hidden;
	height: 350px;
	width: 800px
}
.ps-pre{
	width: 250px;
	height: 300px;
	margin: 0 20px;
}
.ps-pre img{
	width: 250px;
	border-radius: 10%;
	margin-bottom: 10px;
}
.ps-pre__etc {
	height: 45px;
	float: left;
}
.ps-pre__etc li {
	float: left;
	margin-right: 20px;
}
.ps-pre__etc li:last-child {
	clear: both;
}
.heart-emoji {
	color: var(--accent-color);
}
.bookmark {
	width: 50px;
	height: 50px;
	float: right;
	text-align: center;
}
.bookmark-front,
.bookmark-back {
	/* position: absolute; */
	font-size: 50px;
	/* bottom: 20px; */
	color: var(--accent-color);
}
.bookmark-back {
	display: none;
}
.part-1{
	display: flex;
	align-items: center;
}
.pagebar{
	text-align: center;
}
.coBoard:nth-child(2n-1){
	background-color: var(--yellow-color);
}
.coBoard:nth-child(2n){
	background-color: var(--jjin-yellow-color);
}
.coBoard span{
	display: inline-block;
}
.coTitle{
	width: 650px;
}
.coRegDate{
	width: 100px;
}
.coNums{
	width: 20px;
}
#member-intoduction div{
	height: 500px;
	background-color: #fff;

}
#gathering-ing-list{
	display: flex;
	align-items: center;
}
/* ----------마이페이지---------- */